.container
{
    margin-left: 20px;
}
@media screen and (max-width: 600px) {
    #headache p img{
    margin-left: 35px;
 
    }
   }
@page
    {
        size:auto;
img{
    color: white;
}
.section h4 {
    font-family: Spartan;
    color: #1590a3; 
}

h5{
    font-family: Spartan;
}

li{
    font-family: Roboto;
    font-size: 18px;
}

.container .col-lg-3 
{
    font-family: Roboto; 
    font-size: 18px;
}

